.top{

   margin-bottom: 22px;
}
.top h1{
   font-size: clamp(1rem, 8vw, 2.2rem);
}
.center{

   display: grid;
   grid-template-columns: 1fr 1fr;
}
.center .left{

}
.left__top, .right__top{
   margin-bottom: 14px;
   font-weight: 700;
   font-size: .875rem;
   color: rgba(0, 0, 0, 0.274);
}
.left__bottom, .right__bottom{
   font-size: 1.35rem;
   /* color: rgba(0, 0, 0, 0.74); */
}
.bottom{

   margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}